[submodule "cluster/terraform/.vendor/terraform-hcloud-kube-hetzner"]
	path = cluster/terraform/.vendor/terraform-hcloud-kube-hetzner
	url = https://github.com/mysticaltech/terraform-hcloud-kube-hetzner.git
